<!DOCTYPE html>
{% extends 'myapp/parent.html'%}
<html>
    <body>
        {%block for_child%}
        <div class="jumbotron">
            <div class="container">
                <h2> INSTRUCTIONS</h2>
                <ul>
                    <li>1.only one attempt you have</li>
                    <li>2.no mall practuce is allowed</li>
                    <li>3.no negative marking</li>
                    <li>4.only 90 minutes will be given</li>
                    <li>5. if u change the tab,you will be blocked immediately</li>
                    <li>6.test sholud be taken in exam lab</li>
                    <li>7.put singature at the end</li>
                </ul>
            </div>
        </div>
        {%endblock%}
    </body>
</html>